.container{
    display:flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
}
.filterbox{
    width:85vw;
    height : 40vh;
    background-color: white;
    border-radius: 10px;
    //align-items:center;
    box-shadow: 0px 1px 1px 1px rgba(0,0,0,0.25);
    margin-top : 10px;
}

.optiontitle{
    width:85vw;
    height : 40vh;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 4px 4px 4px rgba(0,0,0,0.25);
    
    //margin-top : 40px;

}

.buttonContainer{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 22px;

    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.button{
    
    background-color:#DADADA;
    font-weight: 400;
    color: black;
    font-size: 0.85em;
    width: 56px;
    height: 22px;
    line-height: 22px;
    margin-right: 5px;
    border-radius: 10px;
    text-align: center;
    
    

}

.pricerangebox{
    width: 271px;
    height: 92px;
    background:white;
    align-items: center;
    justify-content: center;
    margin-right:30px;
    margin-left:30px;
    
}

.range .field{
    position:relative;
    display : flex;
    align-items: center;
    justify-content: center;
    height: 20px;
}

.range .field .value{
    position : absolute;
    font-size:12px;
    font-weight: 400;
    color:#775EEE;
}

.range .field .value.left{
    left : -22px;

}
.range .field .value.right{
    right : -43px;
    
}

.range .field input{
   -webkit-appearance:none;
   height:3px;
   width:100%;
   background:#000000;
   border-radius: 50%;
   outline:none;
   border : none;

}

.slider{
    width: 200px;
    height : 10px;
    background-color: #000000;
    margin-top: 20px;

}

.slider .thumb{
    width:23px;
    height:23px;
    cursor:grab;
    background:#775EEE;
    border-radius: 50%;
}



.applybutton{

    gap: 10px;
    text-align: center;
    line-height: 36px;
    background: #775EEE;
    color:white;
    border-radius: 10px;
    width: 86%;
    margin-left: 7%;
    height: 36px;

}

input[type=range] {
    height: 38px;
    -webkit-appearance: none;
    //margin: 10px 0;
    width: 100%;
  }
  input[type=range]:focus {
    outline: none;
  }
  input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 10px;
    cursor: pointer;
    animate: 0.2s;
    box-shadow: 0px 0px 0px #000000;
    background: #D9D9D9;
    border-radius: 10px;
    border: 0px solid #D9D9D9;
  }
  input[type=range]::-webkit-slider-thumb {
    box-shadow: 0px 0px 0px #000000;
    border: 0px solid #775EEE;
    height: 32px;
    width: 32px;
    border-radius: 50px;
    background: #775EEE;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -11px;
  }
  input[type=range]:focus::-webkit-slider-runnable-track {
    background: #D9D9D9;
  }
  input[type=range]::-moz-range-track {
    width: 100%;
    height: 10px;
    cursor: pointer;
    animate: 0.2s;
    box-shadow: 0px 0px 0px #000000;
    background: #D9D9D9;
    border-radius: 10px;
    border: 0px solid #D9D9D9;
  }
  input[type=range]::-moz-range-thumb {
    box-shadow: 0px 0px 0px #000000;
    border: 0px solid #775EEE;
    height: 32px;
    width: 32px;
    border-radius: 50px;
    background: #775EEE;
    cursor: pointer;
  }
  input[type=range]::-ms-track {
    width: 100%;
    height: 3px;
    cursor: pointer;
    animate: 0.2s;
    background: transparent;
    border-color: transparent;
    color: transparent;
  }
  input[type=range]::-ms-fill-lower {
    background: #D9D9D9;
    border: 0px solid #D9D9D9;
    border-radius: 20px;
    box-shadow: 0px 0px 0px #000000;
  }
  input[type=range]::-ms-fill-upper {
    background: #D9D9D9;
    border: 0px solid #D9D9D9;
    border-radius: 20px;
    box-shadow: 0px 0px 0px #000000;
  }
  input[type=range]::-ms-thumb {
    margin-top: 1px;
    box-shadow: 0px 0px 0px #000000;
    border: 0px solid #775EEE;
    height: 25px;
    width: 25px;
    border-radius: 50px;
    background: #775EEE;
    cursor: pointer;
  }
  input[type=range]:focus::-ms-fill-lower {
    background: #D9D9D9;
  }
  input[type=range]:focus::-ms-fill-upper {
    background: #D9D9D9;
  }